h1 {
    text-align: center;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item {
    width: fit-content;
    margin: 1rem;
    padding: 2rem;
    background-color: aliceblue;
}

img {
    width: 350px;
}

@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .item {
        flex-basis: 30%;
    }
    img {
        width: 250px;
    }
}

@media screen and (min-width: 992px) {
    h1 {
        font-size: 1.5rem;
    }
    .item {
        width: fit-content;
        flex-basis: 10%;
    }
    .container {
        max-width: 1200px;
    }
    img {
        width: 250px;
    }
}